
{% form_theme form 'form/form_div.html.twig' %}
<div class="ui grid">
    <div class="column">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}
        <div class="fields">
            {{ form_row(form.empresa, {'attr': {'data-row-class': 'twelve wide'}}) }}
            {{ form_row(form.cnpj, {'attr': {'data-row-class': 'four wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.cep, {'attr': {'data-row-class': 'four wide'}}) }}
            {{ form_row(form.endereco, {'attr': {'data-row-class': 'six wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.bairro, {'attr': {'data-row-class': 'six wide'}}) }}
            {{ form_row(form.cidade, {'attr': {'data-row-class': 'six wide'}}) }}
            {{ form_row(form.uf, {'attr': {'data-row-class': 'four wide'}}) }}
        </div>
        <div class="fields">
            {{ form_row(form.telefone, {'attr': {'data-row-class': 'four wide'}}) }}
            {{ form_row(form.email, {'attr': {'data-row-class': 'eight wide'}}) }}
        </div>
        <div class="fields">
            <div class="ui right floated buttons">
            <button class="ui primary button"><i class="save icon"></i> {{ button_label|default('Salvar') }}</button>
            <div class="or" data-text="ou"></div>
            <a href="{{ path('fornecedor_index') }}"><button type="button" class="ui secondary button "><i class="arrow circle left icon"></i> Voltar</button></a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
</div>