<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Venda - {% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" href="{{ asset('assets/semantic.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/espaco.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
         {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="ui pointing menu">
            <a class="active item" href="{{ path('dashboard') }}">
                 <i class="home icon"></i> Home
            </a>
            <div class="menu">
                <div class="ui dropdown item">
                 <i class="users icon"></i> Funcionário <i class="dropdown icon"></i>
                <div class="menu">
                {% if is_granted('ROLE_USER') %}
                    <a class="item" href="{{ path('funcionario_index') }}"><i class="list icon"></i> Listar</a>
                    <a class="item" href="{{ path('funcionario_new') }}"><i class="plus square icon"></i>  Cadastrar</a>
                {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <div class="divider"></div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Salário
                        <div class="menu">
                            <a class="item" href=""><i class="list icon"></i>  Listar</a>
                        </div>
                    </div>
                    {% endif %} 
                </div>
                </div>
            </div>
             {% if is_granted('ROLE_ADMIN') %}
            <div class="menu">
                <div class="ui dropdown item">
                 <i class="truck moving yellow icon"></i> Fornecedor <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('fornecedor_index') }}"><i class="list icon"></i> Listar</a>
                    <a class="item" href="{{ path('fornecedor_new') }}"><i class="plus square icon"></i> Cadastrar</a>
                </div>
                </div>
            </div>
             <div class="menu">
                <div class="ui dropdown item">
                <i class="barcode green icon"></i> Produtos <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('produtos_index') }}"><i class="list icon"></i> Listar</a>
                    <a class="item" href="{{ path('produtos_new') }}"><i class="plus square icon"></i> Cadastrar</a>
                     <div class="divider"></div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Categorias
                        <div class="menu">
                            <a class="item" href=""><i class="list icon"></i>  Listar</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
               <div class="menu">
                <div class="ui dropdown item">
                <i class="cart plus red icon"></i> Vendas <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('vendas_index') }}"><i class="list icon"></i> Listar</a>
                    <a class="item" href="{{ path('vendas_new') }}"><i class="plus square icon"></i> Cadastrar</a>
                     <div class="divider"></div>
                    <div class="item">
                        <i class="dropdown icon"></i>
                        Devoluções
                        <div class="menu">
                            <a class="item" href=""><i class="list icon"></i>  Listar</a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div class="menu">
                <div class="ui dropdown item">
                 <i class="user blue icon"></i> Usuários <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('user_index') }}"><i class="list icon"></i> Listar</a>
                    <a class="item" href="{{ path('user_new') }}"><i class="plus square icon"></i> Cadastrar</a>
                </div>
                </div>
            </div>
             <div class="menu">
                <div class="ui dropdown item">
                 <i class="cogs icon"></i> Configurações <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href="{{ path('tipo_venda_index') }}"> <i class="tags icon"></i> Tipo de Venda</a>
                    <a class="item" href="{{ path('forma_pagto_index') }}"> <i class="money icon"></i> Forma de Pagamento</a>
                </div>
                </div>
            </div>
            <div class="menu">
                <div class="ui dropdown item">
                 <i class="file chart line brown icon"></i> Relatórios <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item" href=""> <i class="user icon"></i> Funcionário</a>
                   
                </div>
                </div>
            </div>
            {% endif %}
            <div class="right menu"> 
            <div class="item">
            <i class="user blue icon"></i> {{ app.user.email }}            
            </div>  
                <div class="item">
                    <div class="ui small basic icon buttons">
                         <a href="{{ path('app_logout') }}"><button class="ui button"><i class="sign-out red icon"></i></button></a>
                    </div>
                </div>
            </div>
            <p></p>
        </div>
        
        <div class="container">
        {% block body %}{% endblock %}
        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous"></script>
        <script src="{{ asset('assets/semantic.min.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
                integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
                crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/drop.js') }}"></script>
        
        {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>