{% extends 'base.html.twig' %}

{% block title %}Usuários{% endblock %}

{% block body %}
 <div class="espaco">
    <h3>Listagem de Usuários</h3>  
    <div class="direita">
        <a href="{{ path('user_new') }}"><button type="button" class="ui primary button"><i class="fa fa-plus-circle" aria-hidden="true"></i> Novo</button></a>
    </div>
    <table class="ui celled table">
        <thead>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% if user.status ==1 %}Ativo{% else %}Inativo{% endif %}</td>
                <td>
                   <div class="ui small basic icon buttons">
                    <a href="{{ path('user_show', {'id': user.id}) }}"><button class="ui button"><i class="file icon"></i></button></a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><button class="ui button"><i class="edit icon"></i></button></a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('user_delete', {'id': user.id}) }}"><button class="ui button"><i class="trash icon"></i></button></a>
                    {% endif %}
                </div>    
                </td>
            </tr>
       {% else %}
                <td colspan="6">nenhum registro encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
{% endblock %}